.GRID {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.gridItem {
  background-color: blue;
  margin: 10px;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.deadGridItem {
  background-color: blue;
  margin: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5em;
}

.activeGridItem {
  background-color: purple;
  margin: 10px;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.innerItem {
  background: green;
  margin: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}